<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wjl.spring.dao.IUserDao">

    <resultMap id="BaseResultMap" type="com.wjl.spring.model.User">
        <id column="uid" jdbcType="INTEGER" property="uid"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="age" jdbcType="INTEGER" property="age"/>
        <result column="gender" jdbcType="VARCHAR" property="gender"/>
    </resultMap>

    <sql id="Base_Column_List">
      uid,name,age,gender
    </sql>

    <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_user
        where uid = #{id,jdbcType=VARCHAR}
    </select>

    <insert id="insertUser" parameterType="com.wjl.spring.model.User">
      insert into tb_user (uid,name,age,gender) values (#{uid,jdbcType=INTEGER},#{name,jdbcType=VARCHAR},
      #{age,jdbcType=INTEGER},#{gender,jdbcType=VARCHAR}
      )
    </insert>

    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_user
    </select>

    <delete id="deleteUserById" parameterType="java.lang.Integer">
        delete from tb_user where  uid = #{id,jdbcType=VARCHAR}
    </delete>

    <update id="updateUser" parameterType="com.wjl.spring.model.User">
        update tb_user
        <set>
            <if test="name!=''">
                name = #{name,jdbcType=VARCHAR},
            </if>

            <if test="age!=0">
                age = #{age,jdbcType=INTEGER},
            </if>

            <if test="gender!=''">
                gender = #{gender,jdbcType=VARCHAR}
            </if>
        </set>
        where uid = #{uid,jdbcType=VARCHAR}
    </update>
</mapper>